#Library

In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split
import seaborn as sns
import matplotlib as plt

In [42]:
class Dataread:
    Aave = pd.read_csv(r'C:\Users\gahol\OneDrive\Desktop\IE221-Data-Analys-Python\Cryptocurrency Historical Prices Dataset\coin_Aave.csv')
    BinanceCoin = pd.read_csv(r'C:\Users\gahol\OneDrive\Desktop\IE221-Data-Analys-Python\Cryptocurrency Historical Prices Dataset\coin_BinanceCoin.csv')
    Bitcoin = pd.read_csv(r'C:\Users\gahol\OneDrive\Desktop\IE221-Data-Analys-Python\Cryptocurrency Historical Prices Dataset\coin_Bitcoin.csv')
    Cardano = pd.read_csv(r'C:\Users\gahol\OneDrive\Desktop\IE221-Data-Analys-Python\Cryptocurrency Historical Prices Dataset\coin_Cardano.csv')
    ChainLink = pd.read_csv(r'C:\Users\gahol\OneDrive\Desktop\IE221-Data-Analys-Python\Cryptocurrency Historical Prices Dataset\coin_ChainLink.csv')
    Cosmos = pd.read_csv(r'C:\Users\gahol\OneDrive\Desktop\IE221-Data-Analys-Python\Cryptocurrency Historical Prices Dataset\coin_Cosmos.csv')
    CryptocomCoin = pd.read_csv(r'C:\Users\gahol\OneDrive\Desktop\IE221-Data-Analys-Python\Cryptocurrency Historical Prices Dataset\coin_CryptocomCoin.csv')
    Dogecoin = pd.read_csv(r'C:\Users\gahol\OneDrive\Desktop\IE221-Data-Analys-Python\Cryptocurrency Historical Prices Dataset\coin_Dogecoin.csv')
    EOS = pd.read_csv(r'C:\Users\gahol\OneDrive\Desktop\IE221-Data-Analys-Python\Cryptocurrency Historical Prices Dataset\coin_EOS.csv')
    Ethereum = pd.read_csv(r'C:\Users\gahol\OneDrive\Desktop\IE221-Data-Analys-Python\Cryptocurrency Historical Prices Dataset\coin_Ethereum.csv')
    Iota = pd.read_csv(r'C:\Users\gahol\OneDrive\Desktop\IE221-Data-Analys-Python\Cryptocurrency Historical Prices Dataset\coin_Iota.csv')
    Litecoin = pd.read_csv(r'C:\Users\gahol\OneDrive\Desktop\IE221-Data-Analys-Python\Cryptocurrency Historical Prices Dataset\coin_Litecoin.csv')
    Monero = pd.read_csv(r'C:\Users\gahol\OneDrive\Desktop\IE221-Data-Analys-Python\Cryptocurrency Historical Prices Dataset\coin_Monero.csv')
    NEM = pd.read_csv(r'C:\Users\gahol\OneDrive\Desktop\IE221-Data-Analys-Python\Cryptocurrency Historical Prices Dataset\coin_NEM.csv')
    Polkadot = pd.read_csv(r'C:\Users\gahol\OneDrive\Desktop\IE221-Data-Analys-Python\Cryptocurrency Historical Prices Dataset\coin_Polkadot.csv')
    Solana = pd.read_csv(r'C:\Users\gahol\OneDrive\Desktop\IE221-Data-Analys-Python\Cryptocurrency Historical Prices Dataset\coin_Solana.csv')
    Stellar = pd.read_csv(r'C:\Users\gahol\OneDrive\Desktop\IE221-Data-Analys-Python\Cryptocurrency Historical Prices Dataset\coin_Stellar.csv')
    Tether = pd.read_csv(r'C:\Users\gahol\OneDrive\Desktop\IE221-Data-Analys-Python\Cryptocurrency Historical Prices Dataset\coin_Tether.csv')
    Tron = pd.read_csv(r'C:\Users\gahol\OneDrive\Desktop\IE221-Data-Analys-Python\Cryptocurrency Historical Prices Dataset\coin_Tron.csv')
    Uniswap = pd.read_csv(r'C:\Users\gahol\OneDrive\Desktop\IE221-Data-Analys-Python\Cryptocurrency Historical Prices Dataset\coin_Uniswap.csv')
    USDCoin = pd.read_csv(r'C:\Users\gahol\OneDrive\Desktop\IE221-Data-Analys-Python\Cryptocurrency Historical Prices Dataset\coin_USDCoin.csv')
    WrappedBitcoin = pd.read_csv(r'C:\Users\gahol\OneDrive\Desktop\IE221-Data-Analys-Python\Cryptocurrency Historical Prices Dataset\coin_WrappedBitcoin.csv')
    XRP = pd.read_csv(r'C:\Users\gahol\OneDrive\Desktop\IE221-Data-Analys-Python\Cryptocurrency Historical Prices Dataset\coin_XRP.csv')

In [20]:
print("Aave")
Dataread().Aave.head()

Aave

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Aave,AAVE,2020-10-05 23:59:59,55.112358,49.787900,52.675035,53.219243,0.000000e+00,8.912813e+07
1,2,Aave,AAVE,2020-10-06 23:59:59,53.402270,40.734578,53.291969,42.401599,5.830915e+05,7.101144e+07
2,3,Aave,AAVE,2020-10-07 23:59:59,42.408314,35.970690,42.399947,40.083976,6.828342e+05,6.713004e+07
3,4,Aave,AAVE,2020-10-08 23:59:59,44.902511,36.696057,39.885262,43.764463,1.658817e+06,2.202651e+08
4,5,Aave,AAVE,2020-10-09 23:59:59,47.569533,43.291776,43.764463,46.817744,8.155377e+05,2.356322e+08

In [18]:
print("BinanceCoin")
Dataread().BinanceCoin.head()

BinanceCoin

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Binance Coin,BNB,2017-07-26 23:59:59,0.109013,0.099266,0.105893,0.105138,200395.0,10513800.0
1,2,Binance Coin,BNB,2017-07-27 23:59:59,0.108479,0.100888,0.105108,0.107737,344499.0,10773700.0
2,3,Binance Coin,BNB,2017-07-28 23:59:59,0.109019,0.101473,0.107632,0.104067,342568.0,10406700.0
3,4,Binance Coin,BNB,2017-07-29 23:59:59,0.111264,0.101108,0.104782,0.107811,340218.0,10781100.0
4,5,Binance Coin,BNB,2017-07-30 23:59:59,0.108138,0.103162,0.107935,0.106414,224261.0,10641400.0

In [19]:
print("Bitcoin")
Dataread().Bitcoin

Bitcoin

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Bitcoin,BTC,2013-04-29 23:59:59,147.488007,134.000000,134.444000,144.539993,0.000000e+00,1.603769e+09
1,2,Bitcoin,BTC,2013-04-30 23:59:59,146.929993,134.050003,144.000000,139.000000,0.000000e+00,1.542813e+09
2,3,Bitcoin,BTC,2013-05-01 23:59:59,139.889999,107.720001,139.000000,116.989998,0.000000e+00,1.298955e+09
3,4,Bitcoin,BTC,2013-05-02 23:59:59,125.599998,92.281898,116.379997,105.209999,0.000000e+00,1.168517e+09
4,5,Bitcoin,BTC,2013-05-03 23:59:59,108.127998,79.099998,106.250000,97.750000,0.000000e+00,1.085995e+09
...,...,...,...,...,...,...,...,...,...,...
2986,2987,Bitcoin,BTC,2021-07-02 23:59:59,33939.588699,32770.680780,33549.600177,33897.048590,3.872897e+10,6.354508e+11
2987,2988,Bitcoin,BTC,2021-07-03 23:59:59,34909.259899,33402.696536,33854.421362,34668.548402,2.438396e+10,6.499397e+11
2988,2989,Bitcoin,BTC,2021-07-04 23:59:59,35937.567147,34396.477458,34665.564866,35287.779766,2.492431e+10,6.615748e+11
2989,2990,Bitcoin,BTC,2021-07-05 23:59:59,35284.344430,33213.661034,35284.344430,33746.002456,2.672155e+10,6.326962e+11
2990,2991,Bitcoin,BTC,2021-07-06 23:59:59,35038.536363,33599.916169,33723.509655,34235.193451,2.650126e+10,6.418992e+11

In [21]:
Dataread().Bitcoin.isnull().sum()

SNo          0
Name         0
Symbol       0
Date         0
High         0
Low          0
Open         0
Close        0
Volume       0
Marketcap    0
dtype: int64

giải thích field

Name + symbol : loại coin

Date : ngày ghi nhận

High + low : điểm cao nhất & thấp nhất trong phiên giao dịch

Open + Close : mở phiên & đóng phiên giao dịch

Volume : lượng giao dịch , số liệu thể hiện số tiền mua vào và bán ra ,Nhu cầu mua và bán tăng cao, thì khối lượng giao dịch sẽ tăng

Marketcap : vốn hóa thị trường

In [24]:
Bitcoin_train, Bitcoin_test = train_test_split(Dataread().Bitcoin, test_size=0.33, random_state=42)

In [25]:
Bitcoin_train

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
1448,1449,Bitcoin,BTC,2017-04-16 23:59:59,1187.219971,1172.609985,1172.609985,1182.939941,1.832310e+08,1.925541e+10
2641,2642,Bitcoin,BTC,2020-07-22 23:59:59,9530.519009,9319.653395,9375.080464,9525.363450,1.653225e+10,1.756448e+11
303,304,Bitcoin,BTC,2014-02-26 23:59:59,603.799988,532.580017,537.039978,582.690002,6.464270e+07,7.254505e+09
1106,1107,Bitcoin,BTC,2016-05-09 23:59:59,462.480988,456.531006,458.205994,460.483002,5.549310e+07,7.149827e+09
2825,2826,Bitcoin,BTC,2021-01-22 23:59:59,33811.851560,28953.372751,30817.625192,33005.763562,7.720727e+10,6.141605e+11
...,...,...,...,...,...,...,...,...,...,...
1638,1639,Bitcoin,BTC,2017-10-23 23:59:59,6075.589844,5732.470215,6006.000000,5930.319824,2.401840e+09,9.869505e+10
1095,1096,Bitcoin,BTC,2016-04-28 23:59:59,449.550995,436.649994,445.037994,449.010986,7.406470e+07,6.952183e+09
1130,1131,Bitcoin,BTC,2016-06-02 23:59:59,540.351990,533.078003,536.515015,537.971985,6.037820e+07,8.399599e+09
1294,1295,Bitcoin,BTC,2016-11-13 23:59:59,705.257019,687.315002,705.195984,702.031006,8.031810e+07,1.121518e+10
860,861,Bitcoin,BTC,2015-09-06 23:59:59,242.912003,234.681000,234.869995,239.839996,2.547370e+07,3.497749e+09

In [10]:
Bitcoin_test

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
1410,1411,Bitcoin,BTC,2017-03-09 23:59:59,1197.459961,1141.229980,1150.349976,1188.489990,2.122830e+08,1.926119e+10
1915,1916,Bitcoin,BTC,2018-07-27 23:59:59,8262.660156,7839.759766,7950.399902,8165.009766,5.195880e+09,1.402356e+11
785,786,Bitcoin,BTC,2015-06-23 23:59:59,247.304001,243.132996,246.927002,244.296005,1.510870e+07,3.494929e+09
2587,2588,Bitcoin,BTC,2020-05-29 23:59:59,9573.666817,9379.338946,9528.355629,9439.124390,3.289664e+10,1.735758e+11
324,325,Bitcoin,BTC,2014-03-19 23:59:59,622.000000,609.096008,613.895996,609.888000,1.422890e+07,7.644702e+09
...,...,...,...,...,...,...,...,...,...,...
2340,2341,Bitcoin,BTC,2019-09-25 23:59:59,8744.828449,8325.396332,8603.428672,8486.992972,2.174473e+10,1.524040e+11
2257,2258,Bitcoin,BTC,2019-07-04 23:59:59,12006.075356,11166.568860,11972.718580,11215.437548,2.592029e+10,1.996174e+11
782,783,Bitcoin,BTC,2015-06-20 23:59:59,245.828003,240.626999,244.529999,245.212006,2.060810e+07,3.505477e+09
2358,2359,Bitcoin,BTC,2019-10-13 23:59:59,8470.987890,8276.612246,8336.902231,8321.005747,1.380829e+10,1.497008e+11
299,300,Bitcoin,BTC,2014-02-22 23:59:59,614.479980,558.580017,574.239990,605.419983,3.125400e+07,7.526808e+09